.hovered_notice {
  position: absolute;
  display: block;
  width: 232px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 10px;
  padding: 16px;
  h4 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }

  .hovered_notice_img {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      cursor: pointer;
      span {
        font-size: 16px;
      }
    }
    .left:hover {
      color: #3b28cc;
      .logosvg * {
        fill: #3b28cc;
      }
    }
    .left_2 {
      display: flex;
      align-items: center;
      cursor: pointer;
      .logosvg:hover * {
        fill: #3b28cc;
      }
    }
  }

  .logosvg {
    margin: 4px;
    cursor: pointer;
  }
  img {
    margin: 5px;
  }
  .comment_top {
    z-index: 3;
  }
  .comment {
    height: 180px;
    transition: height 0.3s ease;

    textarea {
      display: block;
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
      height: 60%;
      font-size: 14px;
      margin-top: 10px;
      outline: none;
      border-radius: 8px;
      resize: none;
      border: 1px solid #bdbdbd;
    }
    span {
      color: red;
    }
    button {
      width: 100%;
      margin-top: 10px;
      height: 40px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      background-color: #3b28cc;
      color: #fff;
    }
    button:active {
      opacity: 60%;
    }
  }
  .comment_show {
    position: absolute;
    visibility: hidden;
    height: 60px;
  }

  .headComment {
    p {
      max-height: 130px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 10px;
      overflow-wrap: break-word;
    }
    p::-webkit-scrollbar {
      padding-left: 10px;
      width: 5px; /* ширина scrollbar */
    }
    p::-webkit-scrollbar-track {
      background: #fff; /* цвет дорожки */
    }
    p::-webkit-scrollbar-thumb,
    p::-webkit-scrollbar-thumb {
      background-color: #a6a6a6;
      border-radius: 5px;
      border: 3px solid #a6a6a6;
    }
  }
}

.CommentsSheet {
  display: flex;
  max-height: 371px;
  overflow-y: auto;
  scroll-behavior: smooth; /* Включить плавную прокрутку */
  .container {
    width: 100%;
    height: 100%;

    padding-right: 10px;
  }
}
.CommentsSheet::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar */
}
.CommentsSheet::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
.CommentsSheet::-webkit-scrollbar-thumb,
.CommentsSheet::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 5px;
  border: 3px solid #a6a6a6;
}
