@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

.NotData {
  position: relative;

  tr {
    height: 150px;

    .tdfix {
      position: sticky;
      left: 0px;
      z-index: 200;
      // background-color: #b3b0b0;
      height: 150px;
      &:after {
        position: absolute;
        display: flex;
        content: "";
        background-color: var(--bgraund);
        height: 150px;
        left: -64px;
        top: 0;
        width: 64px;
      }
    }
    .tdfix {
      position: sticky;
      left: 0px;
      z-index: 200;
    }
    width: 100%;
    .notdatadiv {
      position: absolute;
      width: 100vw;
      left: -100px;
      font-size: 22px;
      font-weight: 500;
      transform: translateY(-15px);
      display: flex;
      justify-content: center;

      .loader {
        position: absolute;
        top: 50px;
      }
    }
  }
}

.TableTeachers {
  padding-left: 64px;
  margin-right: 64px;
  position: relative;
  top: -60px;
  z-index: 220 !important;
  height: 100px; // я вооще хер знает зчем тут это, но без этого нет скролла
  // button {
  //   margin-bottom: 15px;
  // }
  &::after {
    content: "";
    background-color: var(--bgraund);
    width: 64px;
    height: 106px;
    position: absolute;
    right: -64px;
    top: 65px;
  }
  &::before {
    content: "";
    // background-color: red;
    background-color: var(--bgraund);
    width: 64px;
    height: 15px;
    position: absolute;
    right: -64px;
    bottom: -71vh;
    z-index: 1;
  }
  .buttonHeader {
    .import {
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      width: auto;

      background-color: #fff;
      margin-left: 12px;
      border-radius: 8px;
      color: var(--blue-color);
      justify-content: space-between;
      position: relative;
      // .export__img {
      //   margin-right: 5px;
      // }
      input::placeholder {
        color: var(--blue-color);
      }
      &:hover {
        cursor: pointer;
        opacity: 0.75;
        transition: opacity 0.2s ease;
      }

      input {
        cursor: pointer;
        display: block;
        width: 176px;
        height: 42px;
        border-radius: 8px;
        background: none;
        position: relative;
        z-index: 0;
      }
      #file-upload-button {
        cursor: pointer;
      }
      button {
        // position: absolute;
        white-space: nowrap;
        background-color: #fff;
        left: 0;
        z-index: 10;
        width: auto;
        height: 42px;
        display: flex;
        border: none;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
        p {
          padding-left: 4px;
          padding-right: 4px;

          color: var(--blue-color);
          font-size: 16px;
          &:first-child {
            margin-right: 8px;
          }
        }
        @media (max-width: 1220px) {
          p {
            display: none;
          }
        }
      }
    }
  }

  .tabledisciplinesMain_search {
    margin-bottom: 10px;
    position: absolute;
    top: -92px;
    width: 310px;
    height: 45px;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 9px 0px 9px 16px;
    display: flex;
    box-sizing: border-box;
    img {
      display: flex;
      padding: 10px;
    }
  }

  .ButtonCaf_gen {
    margin-bottom: 16px;
  }

  .TableTeachers__inner {
    height: 74vh;
    width: calc(100% + 14px);
    background-color: #fff;
    overflow: scroll;
    position: relative;
    @include scrollTable(12px, 12px, #a6a6a6, 60px, 0);
    .TableTeachers {
      width: 100%;
    }
  }
  .TableTeachers__inner::-webkit-scrollbar {
    width: 14px;
  }

  .TableTeachers__inner::-webkit-scrollbar-track {
    background: var(--bgraund);
    border: none;
    margin-top: 100px;
  }

  .TableTeachers__inner::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    border: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: #fff;

    .th_inner {
      display: flex;
      justify-content: center;
      cursor: pointer;
      .th_title {
        display: flex;
        max-width: 210px;
      }
      .th_inner_img {
        display: flex;
        flex-direction: row;
        img {
          margin: 0 6px;
          display: flex;
          justify-content: center;
          width: 16px;
        }
        img:nth-child(2) {
          margin-left: 0px;
        }
      }
    }

    thead {
      height: 58px;
      background-color: var(--gray-color);

      tr {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background-color: var(--gray-color);
        }
      }
      th {
        position: sticky;
        top: 0;
        z-index: 10;
        cursor: pointer;
        height: 100px;
        background-color: var(--gray-color);
      }
    }
    th[name="instituteAutumnWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="instituteSpringWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="instituteManagementWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }

    th[name="kafedralAutumnWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="kafedralSpringWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="kafedralAdditionalWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }

    th,
    td {
      padding: 12px 8px;
      text-align: center;
    }
    th[name="name"],
    td[name="name"] {
      @include customTd(180px);
    }
    th[name="totalHours"],
    td[name="totalHours"] {
      @include customTd(150px);
    }
    th[name="instituteAutumnWorkload"],
    td[name="instituteAutumnWorkload"] {
      @include customTd(120px);
    }
    th[name="instituteSpringWorkload"],
    td[name="instituteSpringWorkload"] {
      @include customTd(120px);
    }
    th[name="kafedralAutumnWorkload"],
    td[name="kafedralAutumnWorkload"] {
      @include customTd(120px);
    }
    th[name="kafedralSpringWorkload"],
    td[name="kafedralSpringWorkload"] {
      @include customTd(120px);
    }
    th[name="kafedralAdditionalWorkload"],
    td[name="kafedralAdditionalWorkload"] {
      @include customTd(150px);
    }
    th[name="instituteManagementWorkload"],
    td[name="instituteManagementWorkload"] {
      @include customTd(150px);
    }

    th[name="typeOfEmployment"],
    td[name="typeOfEmployment"] {
      @include customTd(200px);
    }

    th[name="totalOidHours"],
    td[name="totalOidHours"] {
      @include customTd(200px);
    }

    th {
      background-color: var(--gray-color);
      padding: 8px;
    }

    tr {
      background-color: var(--white-color);
      margin: 17px 0;

      .tdName:hover {
        cursor: pointer;
        // opacity: 0.6;
        color: #a6a6a6;
        transition: color 0.15s linear;
      }
      &:hover {
        td {
          box-shadow: inset 0 2px 0 0 #9fa1f4, inset 0 -2px 0 0 #9fa1f4;
        }
      }
      .tdHours {
        border-radius: 8px;
        padding: 3px;
        color: #ffffff;
      }
    }
  }
  .SelectedTr {
    td {
      background-color: var(--gray-color) !important;
    }
  }
  td {
    .tdInner:hover {
      background-color: var(--td-bg) !important;
      border-radius: 8px;
      // padding: 0px 0px;
    }
  }

  .fixedTd:first-child {
    position: sticky;
    left: 0px;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
  }
  .fixedTh:first-child {
    position: sticky;
    left: 0px;
    background-color: var(--gray-color);
    z-index: 1000;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
    padding-left: 20px;
  }
  .tdName {
    position: sticky;
    left: 55px;
    background-color: #ffffff;
  }
  .fixedTh:nth-child(2) {
    position: sticky;
    left: 55px;
    background-color: var(--gray-color);
    z-index: 1000;
  }
  .fixedTd:nth-child(3) {
    position: sticky;
    left: 235px;
    background-color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      background-color: var(--td-bg);
      box-shadow: 5px 0px 15px #b3b0b0;
      opacity: 0.5;
      width: 2px;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
  .fixedTh:nth-child(3) {
    position: sticky;
    left: 235px;
    background-color: var(--gray-color);
    z-index: 1000;
    &::after {
      content: "";
      position: absolute;
      background-color: var(--td-bg);
      box-shadow: 5px 0px 15px #b3b0b0;
      opacity: 0.5;
      width: 2px;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
  .filterdClear {
    position: relative;
    left: -30px;
    top: 65px;
    svg {
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
    .svgRed * {
      fill: var(--blue-color);
      transition: all 0.2s ease;
    }
    .BlockTextFilter {
      .textFilter {
        position: absolute;
        left: 0px;
        top: 25px;
        z-index: 9999;
        border-radius: 8px;
        width: 181px;
        padding: 12px 16px;
        background-color: #fff;
        box-shadow: 5px 0px 15px #b3b0b0;
      }
      .triangle {
        @include triangle();
        left: 0px;
        top: 25px;
        z-index: 99999;
      }
    }
  }
}
