@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

.TableTeachers {
  padding-left: 64px;
  margin-right: 64px;
  position: relative;
  top: -60px;
  z-index: 220 !important;
  height: 100px; // я вооще хер знает зчем тут это, но без этого нет скролла
  button {
    margin-bottom: 15px;
  }
  .tabledisciplinesMain_search {
    margin-bottom: 10px;
    position: absolute;
    top: -92px;
    width: 310px;
    height: 45px;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 9px 0px 9px 16px;
    display: flex;
    box-sizing: border-box;
    img {
      display: flex;
      padding: 10px;
    }
  }

  .ButtonCaf_gen {
    margin-bottom: 16px;
  }

  .TableTeachers__inner {
    height: 74vh;
    width: calc(100% + 14px);

    overflow-x: scroll;
    position: relative;
    @include scrollTable(12px, 12px, #a6a6a6, 60px, 0);
    .TableTeachers {
      width: 100%;
    }
  }
  .TableTeachers__inner::-webkit-scrollbar {
    width: 14px;
  }

  .TableTeachers__inner::-webkit-scrollbar-track {
    background: var(--bgraund);
    border: none;
    margin-top: 100px;
  }

  .TableTeachers__inner::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    border: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    .th_inner {
      display: flex;
      justify-content: center;
      cursor: pointer;

      img {
        padding: 0 6px;
      }
    }

    thead {
      height: 58px;
      background-color: var(--gray-color);

      tr {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background-color: var(--gray-color);
        }
      }
      th {
        position: sticky;
        top: 0;
        z-index: 10;
        cursor: pointer;
        height: 100px;
        background-color: var(--gray-color);
      }
    }
    th[name="instituteAutumnWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="instituteSpringWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="instituteManagementWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }

    th[name="kafedralAutumnWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="kafedralSpringWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }
    th[name="kafedralAdditionalWorkload"] {
      vertical-align: bottom;
      .th_inner {
        padding-bottom: 10px;
      }
    }

    th,
    td {
      padding: 12px 8px;
      text-align: center;
    }
    th[name="name"],
    td[name="name"] {
      @include customTd(180px);
    }
    th[name="totalHours"],
    td[name="totalHours"] {
      @include customTd(150px);
    }
    th[name="instituteAutumnWorkload"],
    td[name="instituteAutumnWorkload"] {
      @include customTd(120px);
    }
    th[name="instituteSpringWorkload"],
    td[name="instituteSpringWorkload"] {
      @include customTd(120px);
    }
    th[name="kafedralAutumnWorkload"],
    td[name="kafedralAutumnWorkload"] {
      @include customTd(120px);
    }
    th[name="kafedralSpringWorkload"],
    td[name="kafedralSpringWorkload"] {
      @include customTd(120px);
    }
    th[name="kafedralAdditionalWorkload"],
    td[name="kafedralAdditionalWorkload"] {
      @include customTd(150px);
    }
    th[name="instituteManagementWorkload"],
    td[name="instituteManagementWorkload"] {
      @include customTd(150px);
    }

    th {
      background-color: var(--gray-color);
      padding: 8px;
    }

    tr {
      background-color: var(--white-color);
      margin: 17px 0;

      .tdName:hover {
        cursor: pointer;
        // opacity: 0.6;
        color: #a6a6a6;
        transition: color 0.15s linear;
      }
      &:hover {
        td {
          box-shadow: inset 0 2px 0 0 #9fa1f4, inset 0 -2px 0 0 #9fa1f4;
        }
      }
      .tdHours {
        border-radius: 8px;
        padding: 3px;
        color: #ffffff;
      }
    }
  }
  .SelectedTr {
    td {
      background-color: var(--gray-color) !important;
    }
  }
  td {
    .tdInner:hover {
      background-color: var(--td-bg) !important;
      border-radius: 8px;
      // padding: 0px 0px;
    }
  }

  .fixedTd:first-child {
    position: sticky;
    left: 0px;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
  }
  .fixedTh:first-child {
    position: sticky;
    left: 0px;
    background-color: var(--gray-color);
    z-index: 1000;
    width: 55px;
    min-width: 55px;
    max-width: 55px;
    padding-left: 20px;
  }
  .tdName {
    position: sticky;
    left: 55px;
    background-color: #ffffff;
  }
  .fixedTh:nth-child(2) {
    position: sticky;
    left: 55px;
    background-color: var(--gray-color);
    z-index: 1000;
  }
  .fixedTd:nth-child(3) {
    position: sticky;
    left: 235px;
    background-color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      background-color: var(--td-bg);
      box-shadow: 5px 0px 15px #b3b0b0;
      opacity: 0.5;
      width: 2px;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
  .fixedTh:nth-child(3) {
    position: sticky;
    left: 235px;
    background-color: var(--gray-color);
    z-index: 1000;
    &::after {
      content: "";
      position: absolute;
      background-color: var(--td-bg);
      box-shadow: 5px 0px 15px #b3b0b0;
      opacity: 0.5;
      width: 2px;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
}
