@font-face {
  font-family: "Noto_Sans";
  src: url(./../../../public/font/Noto_Sans/NotoSans-Variable.ttf);
}
* {
  font-family: "Noto_Sans", sans-serif;
}
body {
  margin: 0px;
}
.HomePage {
  width: 100%;
  padding-bottom: 130px;
  .button {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px 64px;
    padding-bottom: 0;
  }
  .Warnings {
    position: absolute;
    top: 32px;
    right: 336px;
    width: 45px;
    margin-right: 12px;
  }
  .Block__tables {
    height: auto;
    position: relative;
    margin-right: 64px;
  }

  .rocket {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 32px;
    bottom: 32px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #00000013;
    z-index: 400;
    cursor: pointer;

    // .rocket_img {
    // }
  }
  .rocket:hover {
    opacity: 70%;
    transition: opacity 0.15s linear;
  }
}
