@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

@font-face {
  font-family: "Noto_Sans";
  src: url(./../../../public/font/Noto_Sans/NotoSans-Variable.ttf);
}

* {
  font-family: "Noto_Sans", sans-serif;
}
body {
  margin: 0px;
}
.HomePage {
  .header {
    position: relative;
    // z-index: 200 !important;
    background-color: #efedf3;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px 64px;
    padding-bottom: 16px;
    .header_top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .header_top_save_search {
        display: flex;
        .header_button {
          display: flex;
        }
        .header_search {
          display: flex;
          align-items: center;
          width: 310px;
          height: 45px;
          box-sizing: border-box;
          padding: 10px;
          border: 1px solid #b0b0b0;
          border-radius: 8px;
          color: #b0b0b0;

          .hedaer_search_inner {
            width: 100%;
            display: flex;
            position: relative;
            padding: 0;
            border: none;
            outline: none;
            margin: 0;
            background-color: #efedf3;
            font-size: 18px;
            font-weight: 500;
            color: #000000;
          }
          .hedaer_search::-webkit-input-placeholder {
            color: #b0b0b0;
          }
        }
      }
      .header_left_component {
        display: flex;
        .Warnings {
          width: 45px;
          margin-right: 12px;
        }
        // .Profile {
        // }
      }
    }
    .blockedTextTable {
      display: flex;
      position: relative;
      color: #e81414;
      top: 50px;
      align-items: center;
      img {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
    }
    .header_bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      .header_bottom_button {
        height: 42px;
        margin-bottom: 2px;
        display: flex;
      }
    }
    .right_button {
      display: flex;
      flex-direction: row;

      .import {
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        width: 176px;
        background-color: #fff;
        margin-left: 12px;
        border-radius: 8px;
        color: #0040e5;
        justify-content: space-between;
        position: relative;
        input::placeholder {
          color: #0040e5;
        }

        input {
          cursor: pointer;
          display: block;
          width: 176px;
          height: 42px;
          border-radius: 8px;
          background: none;
          position: relative;
          z-index: 0;
        }
        #file-upload-button {
          cursor: pointer;
        }
        button {
          position: absolute;
          background-color: #fff;
          left: 0;
          z-index: 10;
          width: 176px;
          height: 42px;
          display: flex;
          cursor: pointer;
          border: none;
          border-radius: 6px;
          align-items: center;
          justify-content: center;
          p {
            color: #0040e5;
            font-size: 16px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  width: 100%;
  //отступ снизу страницы
  padding-bottom: 10px;
  .button {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px 64px;
    padding-bottom: 0;
  }

  .Block__tables {
    height: auto;
    position: relative;
    // margin-right: 64px;
    z-index: 100;
  }

  .rocket {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 32px;
    bottom: 32px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #00000013;
    z-index: 400;
    cursor: pointer;

    // .rocket_img {
    // }
  }
  .rocket:hover {
    opacity: 70%;
    transition: opacity 0.15s linear;
  }

  .perenesen {
    button {
      @include button(var(--blue-color), #fff, 10px, 16px);
      font-size: 18px;
      border: none;
    }
    margin-left: 10px;
  }

  .saveBuffre {
    display: flex;
    flex-direction: row;
    .btnMenuBox {
      position: relative;
      display: flex;
      background-color: #fff;
      border-radius: 8px;
      height: 45px;
      padding: 12px;
      .text {
        padding-right: 10px;
      }
      cursor: pointer;
    }
    .btnMenuBox:nth-child(1) {
      margin-right: 15px;
    }
    .btnMenuBox:nth-child(2) {
      margin-right: 15px;
    }
  }

  .nosavedData {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: #4d4d4d93;
    @include boxShadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    .nosavedDataInner {
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 300px;
      // height: 220px;
      background-color: #fff;
    }
    .loader {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      padding: 10px;
      margin-bottom: 20px;

      .loaderInner {
        width: 100%;
        height: 100%;
        border: 6px solid var(--blue-color);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    button {
      @include button(var(--blue-color), #fff, 10px, 10px);
      margin-top: 10px;
      border: none;
    }
  }
  .countSet {
    margin-left: 65px;
    margin-top: 5px;
  }
}
