@font-face {
  font-family: "Noto_Sans";
  src: url(./../../../public/font/Noto_Sans/NotoSans-Variable.ttf);
}
* {
  font-family: "Noto_Sans", sans-serif;
}
body {
  margin: 0px;
}
.HomePage {
  .header {
    position: relative;
    z-index: 200 !important;
    background-color: #efedf3;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px 64px;
    padding-bottom: 16px;
    .header_top {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .header_button {
        display: flex;
      }
      .header_search {
        display: flex;
        align-items: center;
        width: 310px;
        height: 45px;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #b0b0b0;
        border-radius: 8px;
        color: #b0b0b0;

        .hedaer_search_inner {
          width: 100%;
          display: flex;
          position: relative;
          padding: 0;
          border: none;
          outline: none;
          margin: 0;
          background-color: #efedf3;
          font-size: 18px;
          font-weight: 500;
          color: #929292;
        }
        .hedaer_search::-webkit-input-placeholder {
          color: #b0b0b0;
        }
      }
      .header_left_component {
        display: flex;
        .Warnings {
          width: 45px;
          margin-right: 12px;
        }
        // .Profile {
        // }
      }
    }
    .header_bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      .header_bottom_button {
        height: 42px;
        margin-bottom: 2px;
      }
    }
  }
  width: 100%;
  //отступ снизу страницы
  padding-bottom: 10px;
  .button {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 32px 64px;
    padding-bottom: 0;
  }

  .Block__tables {
    height: auto;
    position: relative;
    margin-right: 64px;
    z-index: 100;
  }

  .rocket {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 32px;
    bottom: 32px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #00000013;
    z-index: 400;
    cursor: pointer;

    // .rocket_img {
    // }
  }
  .rocket:hover {
    opacity: 70%;
    transition: opacity 0.15s linear;
  }
}
