@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

.ConfirmSaving {
  display: flex;
  position: absolute;
  background-color: #fff;
  top: 65px;
  z-index: 200;
  left: 0;
  padding: 10px 25px;
  border-radius: 12px;
  cursor: auto;
  @include boxShadow();

  .trangle {
    @include triangle();
    left: 10px;
  }

  .title {
    display: flex;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  .btnBox {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    button:nth-child(1) {
      @include button(#fff, #000, 10px, 25px);
      margin-right: 10px;
    }
    button:nth-child(2) {
      @include button(var(--blue-color), #fff, 10px, 25px);
      border: none;
    }
  }
}
