@import "./../../style/mixin.scss";

.input {
  display: flex;
  justify-content: center;
  position: relative;
  label {
    font-size: 14px;
  }
  input {
    @include input-text(300px, 8px);
    margin-bottom: 18px;
    font-size: 16px;
  }
  .label{
    text-align: start;
    display: flex;
    justify-content: start;
    margin-left: 10px;
}
}
