@import "./../../style/colors.scss";

.EditInput button{
    width: 271px;
    height: 44px;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    p{
        font-size: 18px;
    }
    img{
        padding-left: 11px;
    }
}
.EditInputOpen{
    background-color: #fff;
    z-index: 50;
    width: 271px;
    color: var(--black-color);
    position: relative;
    box-shadow: 4px 4px 20px 0px #00000026;
    ul{
        overflow-y: scroll;
        position: relative;
        left: -25px;
        list-style: none;
        font-size: 16px;
        li{
            margin-top: -10px;
            align-items: center;
            display: flex;       
        }
    }
    button{
        width: 271px;
        background-color: #fff;
        p{
            font-size: 18px;
        }
    }
}
.customInput {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0;
  }
  
  .customInput input[type="checkbox"] {
    padding-right: 10px;
    cursor: pointer;
  
  }
  .customInput p {
    
    margin: 0;
    line-height: 1.5;
  }  
input[type="checkbox"] + p {
    position: relative;
    padding-left: 25px;
    line-height: 1.5;
  }
  
input[type="checkbox"] + p:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
input[type="checkbox"]:checked + p:before {
    background-color: var(--border-color);
    border-color: var(--border-color);
  }
  