:root {
    --black-color:#000000;
    --gray-color:#DDDDDD;
    --white-color:#ffffff;
    --border-color:#757575;
    --black-gray: #4B4B4B;
    --textLKS-color: #3B3B3B;
    --grin-color: #8BC975;
    --yellow-color: #e2da6e;
    --red-color: #cb3e41;
    --curcle-color: #e81414;
    --formBg-color: #cccccc;
}