:root {
  --black-color: #000000;
  --gray-color: #e2e0e5;
  --white-color: #ffffff;
  --border-color: #757575;
  --black-gray: #4b4b4b;
  --textLKS-color: #3b3b3b;
  --grin-color: #8bc975;
  --yellow-color: #e2da6e;
  --red-color: #cb3e41;
  --curcle-color: #e81414;
  --formBg-color: #cccccc;
  --blue-color: #3b28cc;
  --color--blueBg: #e6ecfd;
  --color--greenBg: #e8f9e7;
  --color--yellowBg: #fffbe6;
  --color--checkedBg: rgb(234, 234, 250);
  --color--blockedBg: rgb(238 238 238);
  --tr-bg: rgb(242, 242, 242);
  --td-bg: rgba(0, 0, 0, 0.05);
}
