@mixin stickyTd($width, $left) {
  position: sticky;
  width: $width;
  min-width: $width;
  max-width: $width;
  left: $left;
  box-sizing: border-box;
}

@mixin customTd($width) {
  min-width: $width;
  max-width: $width;
}

@mixin customTdFixWidth() {
  .tdInner {
    overflow: hidden; // Скрыть контент, выходящий за пределы обертки
    white-space: nowrap; // Запретить перенос строк
    text-overflow: ellipsis; // Добавить многоточие в конце обрезанного текста
    &:hover {
      overflow: visible; // Показать полный текст при наведении
      white-space: normal; // Разрешить перенос строк при наведении
      text-overflow: unset; // Убрать многоточие при наведении
    }
  }
}

@mixin scrollStyle($width, $height) {
  &::-webkit-scrollbar {
    width: $width; /* ширина scrollbar */
    height: $height;
  }
  &::-webkit-scrollbar-track {
    background: #fff; /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    border: 3px solid #a6a6a6;
  }
}
