@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

.ContextMenu {
  display: flex;
  position: relative;
  z-index: 100;
  div {
    padding: 5px 0;
  }
  .blockMenu {
    // width: 232px;
    // height: 260px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: 4px 4px 20px 0px #00000026;
    display: block;
    div {
      width: 100%;
    }
  }
  .blockMenuRight {
    // width: 123px;
    // height: 124px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: 4px 4px 20px 0px #00000026;
    display: block;
  }
  button {
    border: none;
    background-color: none;
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 24px;
  }
  .blockMenuPop {
    display: flex;
    justify-content: space-between;
  }
  .imgOpen {
    transform: rotate(-90deg);
  }
  .activeStylePointer {
    text-align: left;
  }

  .activeStylePointer,
  .blockMenuPop {
    transition: 0.15s linear all;
  }
  .activeStylePointer:hover,
  .blockMenuPop:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  .buttonDel:hover {
    cursor: pointer;
  }

  .popupToShare {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .popupToShare_inner {
      background-color: #fff;
      @include boxShadow();
      padding: 16px;
      h3 {
        margin-bottom: 10px;
      }
      .errortext {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        color: red;
        transition: all 0.15s ease;
      }
      .button {
        display: flex;
        justify-content: end;
        button {
          @include button(var(--blue-color), #fff, 4px, 8px);
        }
      }
    }

    .popupToShare_body {
      .errorBorder {
        border: 3px solid #ffff2f;
        width: 100px;
        margin: 0 auto;
        border-radius: 4px;
        transition: all 0.15s ease;
      }

      table {
        td {
          text-align: center;
          padding: 4px;
          width: 200px;
        }
        th {
          text-align: center;
          padding: 4px;
          width: 200px;
          background-color: var(--gray-color);
        }
        .origData {
          td {
            background-color: #ffff2f;
          }
        }
        .inputTd {
          input {
            @include input-text(100px, 4px);
            text-align: center;
            padding-left: 27px;
          }
          .errorBorder {
            border: 3px solid var(--gray-color);
            transition: all 0.15s ease;
          }
        }
      }
    }
  }
  .SplitByHoursMenu {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 4px 4px 20px 0px #00000026;
    input {
      @include input-text(116px, 8px);
    }
    .SplitByHoursMenuButtonBox {
      padding-top: 20px;
      display: flex;
      justify-content: end;
      button {
        @include button(var(--blue-color), #fff, 4px, 8px);
      }
    }
  }
  .EducatorMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 180px;
    height: 260px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 4px 4px 20px 0px #00000026;

    .educator {
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      cursor: pointer;
    }

    .educator_search {
      position: relative;
      display: block !important;
      top: 0;
      font-size: 16px;
      width: 100% !important;
      padding: 3px;
      padding-left: 10px;
      margin: 0;
      box-sizing: border-box;
    }

    .educator_ul {
      margin: 0;
      padding: 0;
      overflow-y: auto;
      margin-top: 16px;
    }

    .educator_li {
      list-style: none;
    }
  }
  .blockHighlight {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 20px 0px #00000026;
    .Group0 {
      cursor: pointer;
      color: #000;
    }
    .Group1 {
      color: rgba(0, 64, 229, 1);
    }
    .Group2 {
      color: rgba(25, 194, 10, 1);
    }
    .Group3 {
      color: rgba(255, 214, 0, 1);
    }
    .Group1,
    .Group2,
    .Group3 {
      transition: 0.15s linear all;
    }
    .Group0:hover,
    .Group1:hover,
    .Group2:hover,
    .Group3:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .textAreaBox {
    background-color: #fff;
    width: 230px;
    padding: 10px;
    border-radius: 8px;
    padding-top: 2px;
    @include boxShadow();
    min-height: 180px;
    max-height: 220px;
    transition: height 0.3s ease;
    .textArea {
      display: block;
      box-sizing: border-box;
      padding: 5px;
      width: 100%;
      height: 100px;
      font-size: 14px;
      margin-top: 10px;
      outline: none;
      border-radius: 8px;
      resize: none;
      border: 1px solid #bdbdbd;
    }
    span {
      color: red;
    }
    button {
      width: 100%;
      margin-top: 10px;
      height: 40px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      background-color: var(--blue-color);
      color: #fff;
    }
  }

  .PopupOfferBox {
    width: 230px;
    .text {
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: center;
    }
    .btn {
      display: flex;
      width: 100%;
      justify-content: center;
      .btn_left {
        @include button(#fff, #000, 5px, 10px);
      }
      .btn_rig {
        @include button(var(--blue-color), #fff, 5px, 10px);
        font-size: 14px;
        border: none;
      }
    }
  }
}
