@import "./../../style/colors.scss";
@import "./../../ui/UniversalInput/Input.module.scss";

.ErrorHelper {
  // position: relative;
  height: 45px;
  width: 45px;
  margin-right: 12px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  z-index: 200;

  .WarningsButton {
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  .WarningsButton:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.15s ease;
  }
  .WarningsOpen {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 50;
    background-color: var(--white-color);
    box-shadow: 4px 4px 20px 0px #00000026;
    border-radius: 8px;
    width: 100%;
    padding-bottom: 20px;

    p {
      padding: 12px 16px;
      margin: 0;
      padding-bottom: 4px;
    }
    a {
      color: #e81414;
      padding: 4px 16px;
      padding-left: 4px;
      cursor: pointer;
      text-decoration: none !important;
    }

    .WarningsButtonOpen {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      border-radius: 8px;
      height: 44px;
      padding: 0px 16px;
      background-color: var(--white-color);
    }
    img {
      padding-left: 11px;
    }
    .instruction {
      display: flex;
      flex-direction: row;
      color: var(--blue-color);
      align-items: center;
      span {
        padding-left: 6px;
        cursor: pointer;
      }
      img {
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }
  .triangle {
    position: absolute;
    top: -15px;
    left: 10px;
    width: 26px;
    height: 14px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 24px solid #fff;
    border-radius: 100%;
  }
}
.WarningsList ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  width: 219px;
  max-height: 60vh;
  margin-top: 0;
}

.seach {
  padding-right: 6px;
  input {
    @include Input(90%, 6px, 8px, 8px);
    margin: 0 5%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.WarningsList {
  display: flex;
  justify-content: center;
  padding-left: 16px 0;
  overflow-y: auto;
  overflow-x: hidden;

  .noWarning {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}
.WarningsList::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar */
}
.WarningsList::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
.WarningsList::-webkit-scrollbar-thumb,
.WarningsList ::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 5px;
  border: 3px solid #a6a6a6;
}

.circlesbuttonWarn {
  width: 24px;
  height: 24px;
  padding: 2px;
  color: #e81414;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  margin-right: 8px;
  align-items: center;
  text-align: center;
  // background-color: #e81414;

  .span_length {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    transform: translateY(0.5px);
    // padding-left: 1px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
  }
}
