@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

.tabledisciplinesMain {
  display: flex;
  width: 96%;
  height: 80vh;
  overflow: auto;
  margin-left: 64px;

  .table {
    width: 100%;
    th {
      // position: relative;
      position: sticky;
      top: 0;
    }
    .th_inner {
      display: flex;
      justify-content: center;
      cursor: pointer;
      img {
        padding: 0 6px;
      }
    }
  }
  .selectedTr {
    td {
      background-color: var(--color--blueBg) !important;
    }
  }
  table {
    thead {
      tr {
        background-color: var(--gray-color);
      }
      td {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }

    td:nth-child(1) {
      @include stickyTd(60px, 0);
    }
    td:nth-child(2) {
      @include stickyTd(60px, 60px);
    }
    td:nth-child(3) {
      @include stickyTd(172px, 120px);
    }
    td:nth-child(4) {
      @include stickyTd(auto, 292px);
    }

    th:nth-child(1) {
      @include stickyTd(60px, 0);
      background-color: var(--gray-color);
      z-index: 10;
    }
    th:nth-child(2) {
      @include stickyTd(60px, 60px);
      background-color: var(--gray-color);
      z-index: 10;
    }
    th:nth-child(3) {
      @include stickyTd(172px, 120px);
      background-color: var(--gray-color);
      z-index: 10;
    }
    th:nth-child(4) {
      @include stickyTd(auto, 292px);
      background-color: var(--gray-color);
      z-index: 10;
    }
  }

  .InputCheckbox {
    input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 17px;
      height: 17px;
      outline: none;
      cursor: pointer;
      border: 1px solid #a6a6a6;
      border-radius: 4px;
    }
    input[type="checkbox"]:checked {
      background-color: var(--blue-color);
      border-color: var(--blue-color);
    }
  }
}

.tabledisciplinesMain::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  height: 12px;
}
.tabledisciplinesMain::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
.tabledisciplinesMain::-webkit-scrollbar-thumb,
.tabledisciplinesMain::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 5px;
  border: 3px solid #a6a6a6;
}
