@import "./../../style/colors.scss";

.Warnings {
  position: relative;
  height: 45px;
  width: 45px;
  margin-right: 24px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  z-index: 200;
  .span_length {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    transform: translateX(0.5px);
    transform: translateY(0.5px);
    min-width: 22px;
  }
  .WarningsButton {
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    // font-size: 17px;
    .red_circle {
      position: absolute;
      width: 8px;
      height: 8px;
      top: 13px;
      right: 12px;
      border-radius: 8px;
      background-color: red;
    }
    .svg_notice {
      display: flex;
      height: 19px;
    }
    // transition: 0.15s linear all;
    // img {
    //   padding-left: 11px;
    // }
  }

  .WarningsButton:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .WarningsOpen {
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 50;
    background-color: var(--white-color);
    box-shadow: 4px 4px 20px 0px #00000026;
    border-radius: 8px;
    width: 251px;
    padding-bottom: 20px;

    .WarningsButtonOpen {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      border-radius: 8px;
      height: 44px;
      padding: 0px 16px;
      background-color: var(--white-color);
    }
    img {
      padding-left: 11px;
    }
  }
  .triangle {
    position: absolute;
    top: -15px;
    left: 10px;
    width: 26px;
    height: 14px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 24px solid #fff;
    border-radius: 100%;
  }
}
.WarningsList ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
  width: 219px;
  max-height: 60vh;
}
.WarningsList {
  display: flex;
  justify-content: center;
  padding-left: 16px 0;
  overflow-y: auto;
  overflow-x: hidden;

  .noWarning {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}
.WarningsList::-webkit-scrollbar {
  width: 5px; /* ширина scrollbar */
}
.WarningsList::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
.WarningsList::-webkit-scrollbar-thumb,
.WarningsList ::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 5px;
  border: 3px solid #a6a6a6;
}

.circlesbuttonWarn {
  width: auto;
  height: auto;
  padding: 2px;
  color: var(--white-color);
  border-radius: 50%;
  margin-right: 8px;
  align-items: center;
  text-align: center;
  background-color: #e81414;
}
