@import "./../../style/colors.scss";

.NoSaveData{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    left: 30%;
    background-color: #fff;
    z-index: 100;
    box-shadow: 4px 4px 20px 0px #00000026;
    align-items: center;
    border-radius: 12px;
    .NoSaveData__inner{
        display: flex;
        justify-content: space-between;
        width: 560px;
        padding: 10px 16px;
        box-sizing: border-box;
        height: 65px;
        p{
            position: relative;
            top:-5px
        }
        Button{
            margin-right: 10px;
            transition: 0.15s linear all;
        }
        Button:hover{
            cursor: pointer;
            opacity: 0.6;
        }
    }
}
