@import "./../../style/colors.scss";
@import "./../../style/mixin.scss";

.SamplePoints {
  position: absolute;
  top: 110px;
  max-height: 380px;
  background-color: #fff;
  max-width: 350px;
  min-width: 200px;
  box-shadow: 9px 3px 18px rgba(0, 0, 0, 0.2);
  padding: 16px;
  display: flex;
  border-radius: 8px;
  z-index: 100;
  .search {
    width: 95%;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #757575;
    outline: none;
  }
  .points {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    font-size: 16px;
    margin-top: 10px;
    input {
      position: absolute;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-left: -2px;
      opacity: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      text-align: left;
    }
  }
  .points::-webkit-scrollbar {
    width: 5px; /* ширина scrollbar */
  }
  .points::-webkit-scrollbar-track {
    background: #fff; /* цвет дорожки */
  }
  .points::-webkit-scrollbar-thumb,
  .points::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    border: 3px solid #a6a6a6;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    .sorted {
      background-color: #fff;
      position: absolute;
      top: -50px;
      border-radius: 8px 8px 0px 0px;
      height: 35px;
      width: 100%;
      border: 1px solid #000;
      button {
        margin: 2.5px 4px;
        border: none;
        border: 1px solid #000;
        background-color: #fff;
        border-radius: 4px;
        padding: 4px 8px;
        &:hover {
          background-color: var(--blue-color);
          color: #fff;
        }
        &:focus {
          background-color: var(--blue-color);
          color: #fff;
        }
      }
    }
  }
}
