@import "./../../style/colors.scss";

.TableLks {
  width: 100%;
  box-sizing: border-box;
  .ButtonCaf_gen {
    margin-bottom: 16px;
  }
  .EditInput {
    position: absolute;
    right: 64px;
    top: 151px;
  }

  .TableLks__inner {
    overflow-x: scroll;
    border-radius: 8px;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-top: 1px solid var(--gray-color);
    margin-top: 16px;
    margin-left: 64px;
    margin-right: 64px;

    .TableLks {
      width: 100%;
    }
  }
  .TableLks__inner::-webkit-scrollbar {
    background-color: #ffffff;
    height: 5px;
    margin-bottom: 8px;
  }

  .TableLks__inner::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 8px;
    width: 200px !important;
  }

  .TableLks__inner::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    border-radius: 0px 0px 8px 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    th,
    td {
      text-align: center;
      padding: 10px 8px;
    }
    th {
      background-color: var(--gray-color);
      padding: 10px 20px;
    }
    th:first-child {
      border-radius: 8px 0px 0px 0px;
    }
    th:last-child {
      border-radius: 0px 8px 0px 0px;
    }
    tr {
      background-color: var(--white-color);
      th {
        margin: 0 40px;
      }
    }
  }

  .buttonBack {
    margin-left: 64px;

    display: flex;
    text-align: center;
    background: none;
    border: none;
    width: 82px;
    height: 25px;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    transition: 0.15s linear all;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    p {
      margin-left: 6px;
    }
  }
  .buttonBack:hover {
    img,
    p {
      transition: 0.15s linear all;
      opacity: 0.6;
      cursor: pointer;
    }
  }
  .DataLks {
    position: relative;
    margin-left: 64px;

    .DataLksInner {
      background-color: var(--white-color);
      padding: 20px 24px;
      border-radius: 16px;
      width: 660px;
      margin-top: 12px;

      .DataLksHead {
        display: flex;
        justify-content: space-between;
        .DataLksHeadSchet {
          width: auto;
          padding: 0 10px;
          height: 45px;
          border-radius: 8px;
          font-size: 18px;
          text-align: center;
          color: var(--black-color);
          p {
            padding-top: 10px;
            font-weight: 600;
          }
        }
        h1 {
          font-size: 24px;
          margin: 0;
          padding-bottom: 4px;
          font-weight: 600;
        }
      }
      p {
        padding: 4px 0px;
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        max-width: 400px;
      }
    }
  }
  .tabledisciplinesMain_search {
    left: 64px;
    margin-bottom: 10px;
    position: absolute;
    top: -92px;
    width: 310px;
    height: 45px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding: 9px 0px 9px 16px;
    display: flex;
    box-sizing: border-box;
    margin-left: 0;

    img {
      display: flex;

      padding: 10px;
    }
    input {
      display: flex;
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      border: none !important;
      outline: none;
      margin: 0 !important;
      background-color: #efedf3;
    }
  }
}
