//уведомления
.TableDisciplines_circle {
  // border: 1px solid red;
  width: 64px !important;
  z-index: 200;
  background-color: #efedf3 !important;
  td {
    // border: 1px solid red;
    font-size: 0;
    box-sizing: border-box;
    height: 54.4px;
    background-color: #efedf3 !important;
  }
  tr {
    height: 20px;
    background-color: #efedf3 !important;
    position: relative;
    margin: 0 !important;
  }
  th {
    background-color: #efedf3 !important;
    // box-sizing: border-box;
    height: 106px !important;
    // margin: 0 !important;
  }
}

.notice_circle {
  opacity: 1 !important;
  font-size: 14px !important;

  .notice_circle_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: var(--curcle-color);
    border-radius: 100%;
    cursor: pointer;
  }
  .notice_circle_inner::after {
    content: "";
    position: absolute;
    // right: -3px;
    right: -3px;
    width: 4px;
    height: 54px;
    background-color: var(--curcle-color);
    border-radius: 10px;
  }
}
