@import "./../../style/colors.scss";

.tabledisciplinesMain {
  input[type="text"] {
    margin-bottom: 10px;
    position: absolute;
    top: -92px;
    width: 310px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    color: var(--black-color);
    padding: 9px 0px 9px 16px;
  }
  .ButtonCaf_gen {
    margin-bottom: 16px;
  }
  .EditInput {
    position: absolute;
    right: 0;
    top: 0;
  }
  .TableDisciplines__inner {
    flex-direction: row;
    overflow-x: scroll;
    border-radius: 8px;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-top: 1px solid var(--gray-color);

    .TableDisciplines {
      width: 100%;
    }
  }
  .TableDisciplines__inner::-webkit-scrollbar {
    background-color: var(--white-color);
    height: 5px;
    margin-bottom: 8px;
  }

  .TableDisciplines__inner::-webkit-scrollbar-thumb {
    background-color: var(--formBg-color);
    border-radius: 8px;
    width: 200px !important;
  }

  .TableDisciplines__inner::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    border-radius: 0px 0px 8px 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    thead {
      height: 58px;
    }
    th,
    td {
      text-align: center;
    }
    td {
      padding: 17px 20px !important;
    }
    .th_inner {
      display: flex;
      flex-direction: row;
      img {
        padding-left: 4px;
        padding-top: 3px;
        cursor: pointer;
      }
    }
    th {
      background-color: var(--gray-color);
      padding: 15px 20px !important;
      cursor: pointer;
    }
    th:first-child {
      border-radius: 8px 0px 0px 0px;
    }
    th:last-child {
      border-radius: 0px 8px 0px 0px;
    }
    tr {
      background-color: var(--white-color);
    }
  }
  .table {
    display: flex;
  }

  //уведомления
  .TableDisciplines_circle {
    position: absolute;
    left: -65px;
    top: -8px;
    width: 5px;
    height: 100%;
    td {
      font-size: 0;
      box-sizing: border-box;
      // border: 1px solid red;
      height: 54.4px;
    }
    tr {
      height: 20px;
    }
    th {
      background-color: var(--white-color);
      background-color: #fff;
      box-sizing: border-box;
      height: 61px;
    }
  }

  .notice_circle {
    opacity: 1 !important;
    font-size: 14px !important;

    .notice_circle_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 24px;
      height: 24px;
      text-align: center;
      background-color: var(--curcle-color);
      border-radius: 100%;
      cursor: pointer;
    }
    .notice_circle_inner::after {
      content: "";
      position: absolute;

      right: -3px;
      width: 4px;
      height: 54px;
      background-color: var(--curcle-color);
      border-radius: 10px;
    }
  }

  .taleDestiplinesMainTable {
    // th:nth-child(1),
    // th:nth-child(2),
    // th:nth-child(3),
    // th:nth-child(4) {
    //   position: sticky !important;
    //   background-color: var(--gray-color);
    // }
    // td:nth-child(1),
    // td:nth-child(2),
    // td:nth-child(3),
    // td:nth-child(4) {
    //   position: sticky !important;
    //   background-color: var(--white-color);
    // }
    // th:nth-child(1),
    // td:nth-child(1) {
    //   left: 0px;
    // }
    // th:nth-child(2),
    // td:nth-child(2) {
    //   left: 56px;
    // }
    // th:nth-child(3),
    // td:nth-child(3) {
    //   left: 110.4px;
    // }
    // th:nth-child(4),
    // td:nth-child(4) {
    //   left: 241.54px;
    // }
    .checkboxHeader {
      height: 106px;
    }
    .checkbox {
      height: 110px;
    }
    .checkbox,
    .checkboxHeader {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .custom__checkbox {
      position: absolute;
      opacity: 0;
    }
    .custom__checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    .custom__checkbox + label::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid var(--black-gray);
      border-radius: 4px;
      pointer-events: none;
    }
    .custom__checkbox:hover {
      cursor: pointer;
    }
    .custom__checkbox:checked + label::before {
      border-color: var(--black-gray);
      background-color: var(--black-gray);
    }
  }
}

.Block__tables__shadow {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: calc((100%) - (60px));
}

table td {
  padding: 17px 20px !important;
}
.Block__tables__shadow {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: calc((100%) - (60px));
  width: 20px;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 0px 8px 8px 0px;
  z-index: 10;
}

.taleDestiplinesMainTable {
  .stytic_th,
  .checkboxHeader {
    position: sticky !important;
    // left: 0 !important;
    background-color: var(--gray-color) !important;
  }
  .stytic_td,
  .checkbox {
    position: sticky !important;
    // left: 0 !important;
    background-color: #fff !important;
  }
}
