@import "./../../style/colors.scss";

.tabledisciplinesMain {
  .table_container {
    display: flex;
  }
  // td {
  //   background-color: rgb(234, 234, 250) !important;
  // }

  .tabledisciplinesMain_search {
    left: 64px;
    margin-bottom: 10px;
    position: absolute;
    top: -92px;
    width: 310px;
    height: 45px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding: 9px 0px 9px 16px;
    display: flex;
    box-sizing: border-box;
    margin-left: 0;

    img {
      display: flex;

      padding: 10px;
    }
    // input {
    //   display: flex;
    //   position: relative !important;
    //   top: 0 !important;
    //   left: 0 !important;
    //   padding: 0 !important;
    //   width: 100% !important;
    //   border: none !important;
    //   outline: none;
    //   margin: 0 !important;
    // }
  }
  .search {
    background-color: #efedf3;
  }
  // input[type="text"] {
  //   margin-bottom: 10px;
  //   position: absolute;
  //   top: -92px;
  //   width: 310px;
  //   font-size: 18px;
  //   border-radius: 8px;
  //   border: 1px solid var(--border-color);
  //   color: var(--black-color);
  //   padding: 9px 0px 9px 16px;
  // }
  .ButtonCaf_gen {
    margin-bottom: 16px;
    padding: 0 64px;
  }
  
  .TableDisciplines__inner {
    // скролл таблицы
    max-height: 100vh;
    padding-left: 64px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    border-radius: 8px;
    width: 100%;
    // border-left: 1px solid var(--gray-color);
    // border-right: 1px solid var(--gray-color);
    // border-top: 1px solid var(--gray-color);

    .TableDisciplines {
      width: 100%;
    }
  }
  .TableDisciplines__inner::-webkit-scrollbar {
    background-color: var(--white-color);
    height: 5px;
    margin-bottom: 8px;
  }

  .TableDisciplines__inner::-webkit-scrollbar-thumb {
    background-color: var(--formBg-color);
    border-radius: 8px;
    width: 200px !important;
  }

  .TableDisciplines__inner::-webkit-scrollbar-track {
    background-color: transparent;
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);
    border-radius: 0px 0px 8px 8px;
  }
  .TableDisciplines__inner::-webkit-scrollbar {
    width: 5px; /* ширина scrollbar */
  }
  .TableDisciplines__inner::-webkit-scrollbar-track {
    background: #fff; /* цвет дорожки */
  }
  .TableDisciplines__inner::-webkit-scrollbar-thumb,
  .TableDisciplines__inner::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    border: 3px solid #a6a6a6;
  }
  table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;

    col {
      width: 100px;
    }
    td {
      width: 100px !important;
    }
    td:nth-child(2) {
      width: 10px !important;
      padding: 0 !important;
    }
    th:nth-child(2) {
      width: 10px !important;
      padding: 0 !important;
    }
    td:nth-child(0) {
      background-color: #3b28cc;
    }

    thead {
      height: 58px;

      // скролл таблицы
      position: sticky;
      top: 0;
      z-index: 40;
    }
    .tr_thead {
      background-color: #ddd;
    }

    th,
    td {
      text-align: center;
    }
    .td_inner {
      width: 100%;
      height: 100%;
      padding: 6px;
    }

    .td_inner:hover {
      background-color: #dedeed;
      border-radius: 8px;
    }
    td {
      padding: 7px 20px !important;

      .textarea {
        width: 140px;
        height: 60px;
        resize: none !important;
        border: none;
        box-shadow: 0px 0px 7px #b3b0b0;
        border-radius: 8px;
        padding: 5px;
      }
      .svg_textarea {
        display: flex;
        justify-content: end;
        svg {
          margin: 3px;
          cursor: pointer;
        }

        svg:hover * {
          fill: #3b28cc;
        }
      }
      .textarea::-webkit-scrollbar {
        width: 5px; /* ширина scrollbar */
      }
      .textarea::-webkit-scrollbar-track {
        background: #fff; /* цвет дорожки */
      }
      .textarea::-webkit-scrollbar-thumb,
      .textarea::-webkit-scrollbar-thumb {
        background-color: #a6a6a6;
        border-radius: 5px;
        border: 3px solid #a6a6a6;
      }
    }
    .th_inner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        padding-left: 4px;
        padding-top: 3px;
        cursor: pointer;
      }
    }
    th {
      background-color: var(--gray-color);
      padding: 15px 20px !important;
      cursor: pointer;
    }
    th:first-child {
      border-radius: 8px 0px 0px 0px;
    }
    th:last-child {
      border-radius: 0px 8px 0px 0px;
    }
    tr {
      background-color: var(--white-color);
    }
    tr:hover {
      background-color: #f1f1fd;
    }
  }
  .table {
    display: flex;
  }

  .taleDestiplinesMainTable {
    .colorBlue {
      background-color: var(--color--blueBg) !important;
    }
    .colorGreen {
      background-color: var(--color--greenBg) !important;
    }
    .colorYellow {
      background-color: var(--color--yellowBg) !important;
    }
    .colorChecked {
      background-color: var(--color--checkedBg);
    }
    .clorBlocked {
      background-color: var(--color--blockedBg);
      pointer-events: none;
    }

    overflow-y: scroll;

    .checkboxHeader {
      height: 106px;
    }

    // скролл таблицы
    th:nth-child(1) ::before {
      content: "";
      position: absolute;
      left: -100px;
      top: 0;
      width: 100px;
      height: 100%;
      background-color: #efedf3;
    }

    .checkbox,
    .checkboxHeader {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .notice {
      position: absolute;
      left: -40px;
      width: 30px;
      height: 30px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      transform: translateY(-4px);
      cursor: pointer;
    }

    .notis_rigth_one {
      width: 3px;
      height: 53px;
      background-color: inherit;
      position: absolute;
      right: -10px;
    }
    .notis_rigth_two {
      width: 3px;
      height: 36px;
      background-color: inherit;
      position: absolute;
      right: -10px;
    }
    .custom__checkbox {
      position: absolute;
      opacity: 0;
    }
    .custom__checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    .custom__checkbox + label::before {
      content: "";
      position: static;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid var(--black-gray);
      border-radius: 4px;
      pointer-events: none;
    }
    .custom__checkbox:hover {
      cursor: pointer;
    }
    .custom__checkbox:checked + label::before {
      border-color: var(--blue-color);
      background-color: var(--blue-color);
    }
  }
}

.Block__tables__shadow {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: calc((100%) - (60px));
}

table td {
  // padding: 17px 20px !important;
}
.Block__tables__shadow {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  height: calc((100%));
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px 8px 8px 0px;
  z-index: 9;
}

.taleDestiplinesMainTable::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
  background-color: #efedf3;
}
.taleDestiplinesMainTable {
  .stytic_th,
  .checkboxHeader {
    position: sticky !important;
    background-color: var(--gray-color) !important;
  }
  .stytic_td,
  .checkbox {
    position: sticky !important;
    // background-color: #fff !important;
    background-color: inherit;
  }
}

.closer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b3b0b0;
  opacity: 60%;
  z-index: 10;
}
