.nameWarnName {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.circlesbuttonWarn {
  width: 24px;
  height: 24px;
  // background-color: red;
  color: #e81414;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  margin-right: 8px;
  align-items: center;
  text-align: center;
  margin-top: 0;
}
.name {
  display: flex;
  width: 80%;
  margin-top: 0;
  padding-top: 2px;
}
.buttonWarnBlock {
  display: flex;
  background-color: var(--gray-color);
  align-items: center;
  position: relative;
  border-radius: 8px;
  transition: 0.15s linear opacity;
  .arrowButton {
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 11px;
    top: 15px;
  }
  p {
    padding-left: 16px;
    width: 95%;
    padding-right: 20px;
  }
}

.buttonWarnBlock:hover {
  cursor: pointer;
  opacity: 0.6;
}
